<main class="ads-index">
  <header class="subcat"><%= @subcat.title %></header>
  <ul class="ads-list">
	  <li>just testing</li>
    <% @ads = @subcat.ads.all %>
    <%= render @ads %>
  </ul>
</main>