<h2 class="subcat-parent">Subcat:
  <%= @ad.subcat.title %></h2>
<main class="ads-index">
  <header class="ad"><%= @ad.title %></header>
  <ul class="ad-attributes-list">
    <li>Region: <%= @ad.region %></li>
    <li>Price: <%= @ad.price %></li>
  </ul>
</main>
