<main class="sign-in">
	<form action="<%= session_url %>" method="post" accept-charset="utf-8">
	  <h1>Sign In</h1>
	  <%= auth_token %>

		<div class="input">
		 <label for="sign-in-email">Email</label>
		 <input type="email" id="sign-in-email"
			 name="user[email]" value="<%= @email_attempt %>">
		 </input>
		</div>
	
		<div class="input">
		  <label for="sign-in-password">Password</label>
		  <input type="password" id="sign-in-password"
		   name="user[password]"></input>
	   	</div>

		<div class="submit">	
			  <input type="submit" value="Sign In">
		</div>
	
		<a href="<%= new_user_url %>">Sign Up for an Account</a>
	</form>
</main>