<main class="posted-ads">
  <%= account_header(@user) %>

  <section class="notifications-list">
    <h4>Your Notifications</h4>
    <ul>
      <%= render @notifications %>
    </ul>
  </section>

</main>