<%= header(@header_options) %>
<main class="account-notifications">
  <%= account_header(@user) %>

  <section class="notifications-container b-on-y">
    <h4 class="item-list-heading">Notifications for <%= @user.username %></h4>
    <ul class="account-item-list b-on-y">
      <%= render @notifications.reverse %>
    </ul>
  </section>

</main>