<main class="posted-ads">
  <%= account_header(@user) %>

  <section class="notifications-list">
    <h4>Notifications for <%= @user.username %></h4>
    <ul>
      <%= render @notifications.reverse %>
    </ul>
  </section>

</main>