<%= header(@header_options) %>
<main class="account-posts">
	<%= account_header(@user) %>
	<section class="user-posts-container b-on-y">

    <table class="user-posts-table">
      <thead>
        <tr>
          <th>status</th>
          <th>manage</th>
          <th>posting title</th>
          <th>area</th>
          <th>category</th>
          <th>posted date</th>
          <th>responses</th>
        </tr>
      </thead>
      <tbody>
      	<%= user_posts_list(@user.posted_ads) %>
      </tbody>
    </table>

  </section>
</main>




