
<main class="posted-ads">
	<%= account_header(@user) %>
  <!-- <h4>Filter</h4> -->
  <!-- <section class="user-dashboard filter"></section> -->

  <h4>Showing All Postings</h4>
  <section class="user-dashboard posts-list">

    <table class="user-posts-table">
      <thead>
        <tr>
          <th>status</th>
          <th>manage</th>
          <th>posting title</th>
          <th>area</th>
          <th>category</th>
          <th>posted date</th>
          <th>responses</th>
        </tr>
      </thead>
      <tbody>
      <%= user_posts_list(@user.posted_ads) %>

      </tbody>
    </table>

  </section>
</main>




