<header class="root-header">
<h1>Root Header</h1>
<a href="<%= new_ad_url %>">Post an Ad</a>
</header>
<main class="all-cats-list">
<h1>Title: Subcats Index Page</h1>

<%= render @categories %>

</main>