/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* RESETS */
  html, body, header, main, form, h1, div, label, nav, a, table, thead,
  tbody, tr, th, td, ul, li, h2, h3, h4, h5, span, footer{
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font: inherit;
	  vertical-align: baseline;
	  font-size: 100%;
  }
	
	#content {
		min-height: 680px;
		margin-top: 40px;
	}
  
	
	
  body {
/*  	  background: #FFC02C;*/
/*	  background: #CBCBCB;*/
/*		background: #E9E9E9;*/
		background: #ddd;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  
  a {
	  text-decoration: none;
  }
  
  a:hover {
	  text-decoration: underline;
  }
  
  .clearfix:after {
	content: "";
	display: block;
	clear: both;	
  }
  
  input[type="password"], input[type="email"],
  input[type="submit"], input[type="text"], input[type="date"],
  input[type="number"], input[type="checkbox"] {
	  -webkit-appearance: none;
	  /* changes style of submit-button & input box */
	  box-sizing: content-box;
	  display: inline-block;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  outline: 0;
	  font: inherit;
	  vertical-align: baseline;
/*	  width: auto;*/
	  background: transparent;
	  color: inherit;
	  font-size: 100%;
  }

  input[type="password"], input[type="email"],
	input[type="text"], input[type="date"],
  input[type="number"] {
  	background: #fff;
  }


  input[type="submit"] {
	  display: inline;
  }
  
  input[type="checkbox"] {
	  -webkit-appearance: checkbox;
  }


  main {
	  padding: 100px;
  }
	
	a {
		color: #fff;
	}
	
	/*Errors, Notices, and Notifications*/
	
	.page-notices, .page-errors {
		background: #333;
		padding: 15px;
		color: #fff;
		max-width: 400px;
		display: inline-block;
	}
	
	.page-errors{
		background: red;
	}
  
	/*END*/
	
/* HEADER*/
  header {
	 	position: fixed;
	 	top: 0px;
	 	left: 0px;
	  width: 100%;
		display: block;
	  background: #999;
	  height: 40px;
	  color: #fff;
		border-bottom: 1px solid #ccc;
		z-index: 10;
 }
 
 header a, footer a {
 	color: #fff;
 }

 
 .header {
  margin: 0px 65px;
 }
 
 .header-path-links {
  margin: 10px 0;
  float: left;
 }
 
 form label {
	 color: #fff;
	 display: block;
 }
 
 form {
	 background: #999;
 }
 
 ul {
	 list-style: none;
 }
 
 /*END*/

/* FOOTER*/
 .footer {
/*	position: absolute;*/
/* 	bottom: 0px;*/
/* 	left: 0px;*/
  display: block;
  background: #999;
  height: 30px;
	width: 100%;
  color: #fff;
	margin: 0;
}

.footer-nav{
	display: block;
	margin: auto;
	width: 900px;
	height: 100%;
/*	border: 1px solid green;
*/}

.footer .links-list {
	position: relative;
	left: 20%;
	margin: 4px 0px;
/*	border: 1px solid red;*/
}

.footer .links-list li{
	float: left;
	margin-right: 55px;
	margin-top: 4px;
	font-size: 14px;
/*	border: 1px solid purple;*/
}

.footer .links-list a{
	margin: 0;
	padding: 0;
}
 /*END*/

/* Ads Index*/

/* New user form*/
  
/*  h1 {
	  font-size: 45px;
	  line-height: 1.0;
	  font-weight: bold;
  }

  .input {
	  margin: 20px 0;
  }

  .input > label {
	  display: block;
	  font-weight: bold;
  }*/

/*  .input > input {
	  border: 3px solid black;
	  padding: 5px;
	  width: 284px;
	  border-radius: 3px;
  }*/
  
  /*END */
  
  /* GENERAL INPUT STYLING*/
  .input > input:focus {
/*    border-color: #8264F0;*/
	  border-color: #184FF7;
  }

  .submit > input {
	  position: relative;
	  display: inline-block;
	  background: #1C6BFF;
	  color: #fff;
	  padding: 10px 20px;
	  border-radius: 6px;
	  font-weight: bold;
	  box-shadow: 0 3px 0 0 #08206A;
	  letter-spacing: 1px;
  }

  .submit > input:hover {
    background: #8264F0;
  }

  .submit > input:active {
	  top: 3px;
	  box-shadow: none;
	  background: #6640E5;
  }
  
  
    /*END*/
  
  /*POSTS FILTER*/
  .filter-container {
  	width: 1230px;
		margin: auto;
  }
	
  	.filter, .all-posts-list {
	  display: block;
  	  border: 1px solid #000;
	  border-radius: 3px;
	  background: #999;
	  padding: 5px 10px;
	 }
	 
	

	 .filter-parameters {
	   	  display: block;
	 }
	 
	 .filter label, .filter h5 {
		 color: #fff;
	 }
	  
	.filter-parameters > .typables {
		display: block;
		float: left;
	} 
	
	.typables > .non-price {
		display: block;
		width: 300px;
		float: left;
	}
	
	.typables > .price {
		display: block;
		width: 300px;
		float: left;
	}
	
    .typables input {
	  background: #fff;
  	  border: 1px solid #000;
  	  padding: 5px;
	  margin-top: 3px;
  	  width: 284px;
	  height: 24px;
  	  border-radius: 3px;
    }
	
	.filter-parameters > .checkables {
		display: block;
		width: 310px;
		float: right;	
	}

	.filter .typables .input {
		display: block;
		margin: 10px 0;
	} 
	
	.filter .checkables .input {
		display: block;
		float: left;
		margin: 5px 5px 0 5px;
	} 
	
	.checkables label, .optionables label {
		display: block;
		margin-bottom: 3px;
	}
	
	.checkables input[type="checkbox"] {
		display: block;
		margin: auto;
	}
	
	.filter .checkables .regions {		
	}
	
	.filter .checkables .options {
		margin-top: 5px;
		
	}
	
	.checkables h5, .optionables h5 {
		display: block;
		text-align: center;
		border-bottom: 1px solid #fff;
	}
	
	.optionables {
		display: block;
		width: 700px;
	}
	
	.optionables .input{
		float: left;
		margin-right: 15px;
	}
	
	.optionables input{
		background: #fff;
	}
	
	.filter .submit {
		margin: 5px 0;
	}
	
  


/* END FILTER STYLING*/

/* POSTS LIST */
  
  .all-posts-list {
	  margin-top: 30px;
	  padding: 0px 0;
		border: 0;
		background: transparent;
  }
 
 
 /* TABLE STYLING*/
    .all-posts-table {
		margin: auto;
		padding: 0;
		border: 0;
    border-collapse: collapse;
    }
	
/*	.all-posts-table a {
		color: #fff;
	}
	*/
	.all-posts-table tbody tr {
/*		background: #DEFABB;*/
		background: #6EA9EB;
/*		color: #fff;*/
    border-bottom: 1px solid #C0C0C0;
		width: 1230px;
		
	}
	
	.all-posts-table tr:nth-child(even){
		background: #4A79BB;
	}
	
	.all-posts-table tbody tr:hover {
/*		background: #DEFABB;*/
		background: #fff;
		color: #878787;
/*		border: 2px solid #8264F0;*/
	}

    .all-posts-table th {
      padding: 4px 8px;
      background: #BFBFBF;
/*      border: 1px solid #C0C0C0;*/
      border-bottom: 1px solid #000;
	  	text-align: center;
/*      font-weight: bold;*/
    }
	
	.all-posts-table .title {
		width: 500px;
	}

    td {
/*      background: #FEE8FD;*/
		background: transparent;
/*	  background: #DEFABB;*/
      padding: 4px;
/*      border: 1px solid #cc99ff;*/

	  
		  
      text-align: center;
    }
/* #AE63F5 vs #BF80F8 */
    td.status {
/*      background: #cc99ff;*/
		background: #97D441;
    }

	.user-dashboard td a {
		color: #6A6A6A;
	}
	
	.linkable-cell:hover {
		background: white;
	}

 /*END*/

/* END */

 /* input styling begins here-->*/



/*  form {
	  background: #fff;
	  padding: 50px;
	  width: 300px;
	  margin: auto;
  }*/


  /*<---input styling ends here*/

  /*navbar sign-in/sign/up/sign-out options-->*/


/*  .current-user-options {
    display: inline-block;
    float: right;
  }*/

  .bracket-link-container {
	  float: right;
	  margin: 10px 0;
  }

  .bracket-link-wrap {
  	background: transparent;
  	padding: 0;
  	display: inline-block;
  	width: auto;
  	float: left;
  	margin: 0 0 0 5px;
    }

  .bracket-link, input.bracket-link {
  	  position: relative;
  	  display: inline-block;
  	  background: transparent;
  	  color: #fff;
  	  padding: 0px 2px;
  	  font-size: 15px;
    }

  a.bracket-link {
      text-decoration: none;
    }

  .bracket-link:hover {
      text-decoration: underline;
    }

  .bracket-link-wrap::after {
    	  content: "]";
        color: #fff;
    }

  .bracket-link-wrap::before {
      	  content: "[";
          color: #fff;
    }

/* Ad SHOW*/
	.listing-show {
		padding: 20px 150px;
	}
	
	.listing-title {
		display: block;
		padding-bottom: 10px;
		border-bottom: 1px solid #000;
		margin-bottom: 15px;
		min-width: 1070px;
	}
	
	.listing-show h2 {
		display: block;
		font-weight: bold;
		font-size: 36px;
		float: left;
	}
	
	.listing-show .essentials {
		display: block;
		float: right;
		width: 325px;
/*		border: 1px solid purple;*/
	}
	
	.listing-show .essentials li {
	}
	
	.listing-show h3 {
		font-size: 15px;
		display: block;
		font-weight: bold;
		text-align: right;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.listing-show .tags {
		float: left;
/*		height: 42px;*/
/*		width: 240px;*/
/*		border: 1px solid #000;*/
		margin: 0 0px 0 55px;
		max-width: 375px;
	}

	.listing-show .tags li {
		float: left;
		font-size: 13px;
		padding: 2px;
/*		background: #999;*/
		background: #6EA9EB;;
		margin: 1px 2px 2px 2px;
		border-radius: 3px;
	}
	
	.listing-show .visuals {
		min-width: 1070px;
	}
	
	.listing-show .left-column {
		float: left;
	}
	
	.listing-show .right-column {
/*		border: 1px solid red;*/
		float: right;
	}
	
	
	.listing-show .apt-pics {
		display: block;
		height: 450px;
		width: 600px;
/*		border: 1px solid purple;*/
	}
	
	.listing-show .apt-thumbs {
		margin-top: 10px;
		height: 50px;
		width: 600px;
/*		border: 1px solid cyan;*/
	}
	
	.listing-show .apt-thumbs li {
		float: left;
		margin-right: 3px;
	}
	

	
	.listing-show .response-bar {
		display: block;
/*		border: 1px solid green;*/
	}
	
	.listing-show .new-response {
/*		background: #999;*/
		padding: 10px;
	}
	
	.listing-show input[type="text"], .listing-show textarea {
		background: #fff;
		margin: 5px 0;
		width: 350px;
		font-size: 85%;	
	}
	
	.listing-show .submit input {
		padding: 5px;
	/*	font-weight: normal;*/
		font-size: 90%;
	}

	.listing-show .map {
		border: 1px solid #999;
		position: relative;
		height: 250px;
		margin-top: 15px;
	}
	
  #map { 
		position: absolute; 
		top:0; 
		bottom:0; 
		left:0 ;
		width: 100%; 
		height: 100%;
	 }
	
	.listing-show h4 {
		background: #999;
		color: #fff;
		padding: 10px;
		margin: 15px 0;
		font-size: 110%;
	}
	
	.apt-thumbs .selected {
		border: solid 1px orange;
		-webkit-box-shadow: 0 0 0 1px orange;
		box-shadow: 0 0 0 1px orange;
	}
	
	.apt-thumbs img{
		display: block;
	}
	
/*	.new-image-uploads .uploaded:after {
		content: "successfully uploaded ";
	}

	.new-image-uploads .uploaded input, label {
		display: none;
	}*/
	

/* END */

    /*new response form --->*/
  form.new-response {
      margin: 0;
/*      float: left;*/
    }

  main.ad-show {
      padding: 0;
    }

    .ad-show > section {
      display: block;

    }
    /*dashboard-->*/
    .user-dashboard {
/*      background: #E9E9E9;*/
			background: #999;
      padding: 5px;
      border: 1px solid #646464;
/*      width: 100%;*/
     margin-top: 60px;
		 margin-bottom: 20px;
    }
		
		nav.user-dashboard > a {
			display: inline-block;
			margin: 0 15px 0 15px;
		}

    main.posted-ads {
      padding: 0;
      margin: 10px;
    }

    .user-dashboard table {
      margin: 15px;
/*      border-collapse: collapse;*/
/*      border: 5px solid red;*/
/*      width: 890px;*/
    }

    .user-dashboard th {
      padding: 4px;
      background: #FFFEFE;
      border: 1px solid #C0C0C0;
      text-align: center;
/*      font-weight: bold;*/
    }

    .user-dashboard td {
/*      background: #FEE8FD;*/
		
	  	background: #DEFABB;
      padding: 4px;
/*      border: 1px solid #cc99ff;*/
      border: 1px solid #C0C0C0;
	  
      text-align: center;
    }
/* #AE63F5 vs #BF80F8 */
    .user-dashboard td.status {
/*      background: #cc99ff;*/
		background: #97D441;
    }

	.user-dashboard td a {
		color: #6A6A6A;
	}
	
	.user-dashboard .linkable-cell:hover {
		background: white;
	}


	.notifications-list {
		display: block;
		width: 800px;
		margin: 60px auto;
		background: #999;
		padding: 25px 45px 25px 45px;
		border: 1px solid #777;
		color: #fff;
	}
	
	.notifications-list > h4 {
		font-size: 20px;	
		border-bottom: 1px solid #fff;
		margin-bottom: 20px;
	}
	
	.notifications-list li {
		display: block;
		padding: 5px 10px;
		border-bottom: 1px solid #777;
	}

    /*<---dashboard*/

/*filter --->*/
/*
  	.filter {
  		padding: 0;
  		background: white;
  		width: 982px;
  		height: 90px;
  	}

  	.filter > .input, .submit {
  		display: inline-block;
  	}

  	.filter input{
  		display: inline-block;
  		width: 50px;
  		height: 10px;
  		margin: 10px;
  	}

  	.filter > .submit {
  		float: right;
  		margin: 20px;
    }

    .input.price-filter > input{
      height: 25px;
      width: 60px;
      padding: 0 4px;
    }

    .input.date-filter > input {
      padding: 0;
      height: 25px;
      width: 170px;
    }

    .filter input[type="checkbox"] {
      width: 8px;
    }

    .filter label {
      font-weight: normal;
    }
*/
/*<----filter*/

/* City Home*/
.city-home {
	padding: 0;
	margin-bottom: 175px;
}		
		
.cats-container {
/*	border: 1px solid red;*/
	width: 840px;
	margin: 75px auto;
	background: #999;
	border-radius: 3px;
	padding: 0 0 30px 30px;
}

.city-home h4 {
	font-weight: bold;
	letter-spacing: 1px;
	display: block;
/*	border: 1px solid purple;*/
	padding: 2px 10px;
	background: #1C6BFF;
	margin-bottom: 2px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
/*	height: 20px;*/
}

.cats-container .column{
	float: left;
/*	width: 280px;*/
	margin: 10px;
/*	border: 1px solid pink;*/
}	
.first.column {
	width: 125px;
}
	
.second.column {
	width: 150px;
}	

.fourth.column {
	width: 210px;
}

.fourth.column .subcolumn {
	float: left;
	margin-right: 10px;
}
	

.cats-container .left{
	float: left;
}		

.cats-container .right{
	float: right;
}		


.cats-container .category {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
/*	border: 1px solid red;*/
}

.cats-container .community {
/*	background: green;*/
}

.cats-container .subcat-title {
/*	background: cyan;*/
	border-bottom: 1px solid #ccc;
	padding: 2px 0;
	font-size: 13px;
}

.cats-container .subcat-title a {
	text-decoration: none;	
	display: block;
	width: 100%;
}

.cats-container .subcat-title a:hover {
	background: #6EA9EB ;
}

	
/*END*/

/* SIGN IN */

.sign-in h1{
	color: white;
  font-size: 40px;
  line-height: 1.0;
	text-align: center;
	margin-bottom: 25px;
/*  font-weight: bold;*/
}

.sign-in form{
	border: 1px solid #777;
	padding: 15px;
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.sign-in .input{
	margin: 10px 0;
/*	border: 1px solid green;*/
	width: 250px;
/*	position: relative;
	left: 15px;*/
}

.sign-in label {
	display: block;
	margin-bottom: 5px;
}

.sign-in input[type="email"],
 .sign-in input[type="password"],
  .sign-in input[type="text"] {
  	border: 1px solid #777;
		padding: 5px;
		border-radius: 3px;
  }
	
  .sign-in input:focus {
/*    border-color: #8264F0;*/
	  border-color: #184FF7;
  }
	
	.sign-in .submit {
		display: inline-block;
		margin-top: 15px;
	}
	
	.sign-in a {
		position: absolute;
		right: 15px;
		bottom: 20px;
	}
	
		.sign-in a {
		text-decoration: underline;	
		}
		
		.sign-in a:hover{
			background: #6EA9EB ;
			
		}

 /* .input {
	  margin: 20px 0;
  }

  .input > label {
	  display: block;
	  font-weight: bold;
  }*/

/*  .input > input {
	  border: 3px solid black;
	  padding: 5px;
	  width: 284px;
	  border-radius: 3px;
  }*/

/*END		*/
	
	