/* --GENERAL-- */

	  html, body, main, ul, li, h1, h2, h3, h5, a, div, header, 
		section, table, thead, tbody, th, tr, td {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font: inherit;
	    vertical-align: baseline;
			text-decoration: none;
	  }
		
		a {
			color: #EFE352;
		}
		
		ul {
			list-style: none;
		}
		
		section, ul {
			display: block;
			background: #000;
			color: #EFE352;
		}

	  body {
	    font-family: sans-serif;
			background: #EFE352;
			height: 100%;		
	  }
	
	
	  input[type="password"], input[type="email"],
	  input[type="submit"], input[type="text"], 		input[type="date"],
	  input[type="number"] {
		  -webkit-appearance: none;
		  box-sizing: content-box;
		  display: inline-block;
		  margin: 0;
		  padding: 0;
		  border: 0;
		  outline: 0;
		  font: inherit;
		  vertical-align: baseline;
		  background: transparent;
		  color: inherit;
		  font-size: 100%;
	  }
		
		.clearfix:after {
			content: "";
			display: table;
			clear: both;
		}
				
		.left {
			float: left;
		}
	
		.right {
			float: right;
		}
	
		.b-on-y {
			background: #EFE152;
			color: #000;
		}
		
		.y-on-b {
			background: #000;
			color: #EFE152;
		}
		
		form label {
			display: block;
			margin: 3px 0;
		}
		
		input[type="checkbox"] {
			display: block;
			margin: auto;
			margin-top: 6px;
		}
		
		textarea, select, input[type="file"] {
			margin: 0 0 5px 0;
		}
		
		textarea:focus {
			outline: none;
	    border: 1px solid #fff;
	    box-shadow: 0 0 10px #fff;
		}
		
		::-webkit-input-placeholder { /* WebKit browsers */
		    color:    #666;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    #666;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    #666;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    #666;
		}
		
		/* SUBMIT BUTTON */
		a.slick-button {
			display: block;
		}
	
		.slick-button > input[type="submit"], a.slick-button {
			border: 2px solid #EFE152;
			padding: 0;
			color: #EFE152;
			background: #000;
			text-align: center;
			font-weight: 100;
			text-transform: uppercase;
			border-radius: 3px;
		}
	
		.slick-button.medium > input[type="submit"], a.slick-button.medium {
			width: 60px;
			height: 20px;
			padding: 5px;
		}
		
		.slick-button.small > input[type="submit"], a.slick-button.small {
			width: 60px;
			height: 25px;
			font-size: 95%;
		}
		
		a.slick-button.long, .slick-button.long > input[type="submit"] {
			width: 115px;
			height: 20px;
			padding: 5px;
			font-size: 95%;
		}
		
		.submit.slick-button.med-long  > input[type="submit"] {
			width: 90px;
			height: 25px;
			font-size: 95%;
		}
	
		.slick-button > input[type="submit"]:hover, a.slick-button:hover {
			color: #68D8A8;
			border: 2px solid #68D8A8;
			cursor: pointer;
		}
	
		.home, .ads-index, .listing-show, .new-listing, .sign-in,
		.account-settings, .account-notifications, .account-alerts, .account-responses {
			display: block;
			min-height: 800px;
			min-width: 1100px;
		}
		
		
		.hidden {
			display: none;
		}
	
/* --GENERAL END-- */

/* --HOME-- */

	
		.home {
			padding: 30px 40px;
		}
		
		
		.left.column {
			width: 260px;
		}
		
		.right.column {
/*			margin: 0 75px;*/
		}
		
		.home-title {
			display: block;
			font-size: 48px;
			font-weight: 100;
			text-align: left;
			margin-bottom: 50px;
		}
		
		.categories, .actions {
			display: block;
			list-style: none;
			background: #000;
			color: #EFE352;
			border-radius: 5px;
		}
		
		.actions {
			background: #EFE152;
			border: 1px solid #000;
			color: #000;
		}
		
		.categories > li, .actions li {
			display: block;
			margin: 0;
			padding: 15px 25px 16px 25px;
			border-top: 1px solid #EFE152;	
		}
		
		.categories {
			position: relative;
		}
	
		.categories:hover {
			border-radius: 5px 0 0 5px;
		}
	
		.categories > li {
			height: 28px;
		}
		
		.categories li:hover {
			background: #fff;
		}
		
		.categories li:hover > a {
			color: #000;
		}
		
		.actions li {
			border-top: 1px solid #000;
			padding: 10px 25px;
		}
		
  	
		.categories > .top, .actions .top {
			border-top: 0;
		}
		
		.categories > .top {
			padding: 16px 25px;
		}
	
		.categories .low > .top {
			padding: 7px 12px 7px 13px;
		}
		
		.categories h2, .actions h2 {
			font-size: 24px;
			font-weight: 100;
			text-align: left;
		}
		
		.cat-side-dropdown {
			display: none;
			position: absolute;
			left: 260px;
			border-left: 1px solid #EFE152;
			border-radius: 0 5px 5px 0;
		}
	
		.cat-side-dropdown.high {
			top: 0;
		}
	
		.cat-side-dropdown.low {
			bottom: -1px;
		}
	
		.cat-side-dropdown.first {
			border-radius: 0 0 5px 0;
		}
	
		.cat-side-dropdown.short.second {
			left: 391px;
		}
	
		.cat-side-dropdown.long.second {
			left: 440px;
		}
	
		.cat-side-dropdown.first.of-three {
			border-radius: 0;		
		}
	
		.cat-side-dropdown.second.of-three {
			border-radius: 0 0 5px 0;
		}
	
		.cat-side-dropdown.short.third {
			left: 522px;
		}
	
		.cat-side-dropdown > li {
			height: 15px;
			padding: 7px 12px 7px 13px;
			border-bottom: 1px solid #EFE152;
			font-weight: 100;
		}
		
		.cat-side-dropdown > .top {
			padding-top: 8px;
		}

		.cat-side-dropdown.short > li {
			width: 105px;
		}
	
		.cat-side-dropdown.long > li {
			width: 155px;
		}
	
		.categories > li:hover > .cat-side-dropdown {
			display: block;
		}
		
		.actions h2 {
			text-align: right;
		}
		
		.misc {
			height: 222px;
			background: #000;
			border-radius: 5px;
			padding: 15px 0;
		}
		
		.misc.extended {
			height: 390px;
		}
		
		.misc .item {
			text-align: center;
			padding: 15px 0;
			margin-bottom: 18px;
		}
		
		.misc a {
			color: #EFE352;
			font-size: 24px;
			font-weight: 100;
		}
		
		.misc input[type="text"] {
			display: block;
			background: #EFE352;
			margin: 7px auto;
			width: 174px;
			height: 20px;
			border-radius: 3px;
			padding: 1px 3px;
		}
		
		.misc .sign-out input {
			font-size: 24px;
			font-weight: 100;
		}
		
		a:hover, .sign-out:hover {
			color: #68D8A8;
		}

/* --HOME END-- */
	

/* --HEADER / FOOTER--	*/

		.page-header, .footer {
			background: #000;
			color: #EFE152;
			font-weight: 100;
			height: 52px;
			width: 100%;
			min-width: 1030px;
		}
	
	
		.page-header {
			position: fixed;
			font-size: 18px;
			border-bottom: 1px solid #EFE152;
			z-index: 10;
		}
	
		.footer {
			font-size: 15px;
			text-align: center;
			width: 100%;
		}
	
		.header-path-links {
			margin-left: 30px;
			margin-right: 30px;
			}
	
		.action-links {
			margin-right: 30px;
		}
	
		.header-path-links li {
			float: left;
			margin: 13px 10px;
		}
	
		.footer li {
			float: left;
			margin: 14px 25px;
		}
	
		.page-header nav {
			display: block;
			width: 100%;
		}
	
		.footer ul {
			display: inline-block;
		}
	
		.header-path-links.arrow li:before {
			content: "⇨";
			margin-right:	12px;
			vertical-align: bottom;
		}
		
		.header-path-links li.first:before {
			content: none;
		}

/* --HEADER / FOOTER END--	*/
	
	
/* --ADS LIST-- */
	
		.ads-index{
			padding-top: 52px;
		}
  	
		.filter-container, .all-posts-container,
		 .user-posts-container {
			margin: 50px auto;
			border-radius: 5px;
			border: 1px solid #000;
		}
		
		.all-posts-container, .user-posts-container{
			margin-top: 10px;
			width: 1000px;
		}
		
		.filter-container {
			position: relative;
			width: 964px;
			padding: 20px;
			margin-bottom: 30px;
		}
		
		.list-options-container {
			margin: 10px auto;
			border: 0;
			width: 1006px;
		}
		
		/* FILTER */
		.filter-form input {
			background: #EFE252;
			color: #000;
			border-radius: 3px;
			max-width: 165px;
			margin-top: 3px;
			padding: 2px 0 2px 5px;
		}
		
		#search-words {
			max-width: 100%;
		}
		
		.filter-form label {
			display: block;
			font-weight: 100;
		}
		
		.universal-filters {
			width: 220px;
			padding-right: 19px;
			border-right: 1px solid #EFE152;
		}
		
		.search {
			margin-top: 5px;
		}
		
		.regions {
			margin-top: 8px;
		}
		
		.regions > .input {
			float: left;
			margin: 5px 5px 0 5px;
			width: 33px;
		}
		
		.regions label {
			margin-bottom: 3px;
			text-align: center;
		}
		
		.filter-submittables label {
			font-weight: 100;
		}
		
		.regions input[type="checkbox"] {
			display: block;
			margin: auto;
		}
		
		.filter-submittables input[type="checkbox"] {
			display: block;
			margin-top: 5px;
			float: right;
		}
		
		.regions > h5 {
			text-align: center;
			margin: 5px 0 0 0;
			border-bottom: 1px solid #EFE152;
		}
			
		.filter-submittables {
			width: 140px;
			min-height: 156px;
		}
		
		.filter-submittables .input{
			position: absolute;
			bottom: 85px;
			right: 20px;
		}
		
		.filter-container .submit {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
		
		.optionables {
			width: 545px;
			margin-right: 5px;
			padding-left: 30px;
		}
		
		.optionables > .input {
			float: left;
			margin-right: 8px;
			margin-top: 5px;
		}
		
		.optionables .date {
			height: 18px;
		}
	
	/* TABLE */
	
		.all-posts-container, .user-posts-container {
			border: 3px solid #000;
		}
		
		.all-posts-container > .posts-table,
		.user-posts-table {
			width: 100%;
			padding: 0;
			border: 0;
			border-collapse: collapse;
		}
		
		.posts-table td, th {
			padding: 5px;
			text-align: center;
		}
  	
		.posts-table th, .user-posts-table th {
			font-size: 17px;	
			padding: 7px 5px;
		}
  	
		.posts-table > tbody > tr,
		.user-posts-table > tbody, tr {
			border-top: 1px solid #000;
		}
		
		.posts-table > thead > tr, 
		.user-posts-table > thead > tr {
			border-bottom: 3px solid #000;
		}
		
		.posts-table > tbody > tr:hover {
			background: #000;
			color: #fff;
		}
		
		.posts-table .title, .posts-table .address,
		.user-posts-table .title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.posts-table .title, .user-posts-table .title {
			max-width: 300px;
		}
		
		.posts-table .address {
			max-width: 270px;
		}
		
		.list-options-container > ul {
			border: 1px solid #000;
			border-radius: 100px;
			display: inline-block;
			margin-left: 5px;
		}
		
		.list-options-container > ul > li {
			float: left;
			padding: 5px 8px;
			font-size: 15px;
		}
		
		.list-options-container > ul > .selected {
			background: #000;
			color: #EFE152;
		}
		
		.list-options-container > ul > li:hover {
			background: #fff;
		}
		
		.list-options-container > ul > .selected:hover {
			background: #000;
		}
		
		.list-options-container > ul > .table-opt {
			border-radius: 100px 0 0 100px;
		}
		
		.list-options-container > ul > .thumb-opt {
			border-radius: 0 100px 100px 0;
		}
		
		
/* --ADS INDEX END--*/
	
/* --AD SHOW-- */
		.listing-show {
			padding-top: 75px;
			margin: 0 40px;
		}
	
		.listing-title {
			display: block;
			padding-bottom: 10px;
			border-bottom: 1px solid #000;
			margin-bottom: 15px;
			position: relative;
			min-height: 60px;
		}
	
		.listing-title > .title {
			display: block;
			font-weight: bold;
			font-size: 36px;
			position: absolute;
			bottom: 10px;
		}
	
		.listing-show .essentials {
			display: block;
			position: absolute;
			bottom: 10px;
			right: 0;
			width: 325px;
		}
	
		.listing-show h3 {
			font-size: 15px;
			display: block;
			font-weight: bold;
			text-align: right;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	
		.listing-show .tags {
			position: absolute;
			bottom: 10px;
			right: 325px;
			max-width: 375px;
			padding-left: 3px;
		}

		.listing-show .tags li {
			background: #000;
			color: #EFE152;
			float: left;
			font-size: 13px;
			padding: 3px;
			margin: 1px 2px 2px 2px;
			border-radius: 3px;
		}
	
		.listing-show .visuals {
			min-width: 1070px;
		}
	
		.listing-show .left-column {
			float: left;
		}
	
		.listing-show .right-column {
			float: right;
		}
	
	
		.listing-show .apt-pics {
			display: block;
			height: 450px;
			width: 600px;
			border: 1px solid #000;
		}
	
		.listing-show .apt-thumbs {
			margin-top: 20px;
			height: 50px;
			width: 600px;
			background: transparent;
		}
	
		.listing-show .apt-thumbs li {
			float: left;
			margin-right: 3px;
		}
		
		.response-bar {
			display: block;
			padding: 10px 13px;
		}

		.response-bar label {
			display: block;
		}
		
		.listing-show input[type="text"], .listing-show textarea {
			background: #EFE152;
			margin: 5px 0;
			width: 350px;
			font-size: 80%;	
			color: #222;
			padding: 3px;
		}
	
		.listing-show .submit {
			text-align: right;
		}

		.listing-show .map {
			position: relative;
			height: 250px;
			margin-top: 15px;
		}
	
	  #map { 
			position: absolute; 
			top:0; 
			bottom:0; 
			left:0 ;
			width: 100%; 
			height: 100%;
			border: 1px solid #000;
		 }
	
		 .listing .description {
			 padding: 5px;
		 }
	
		.listing-show .description > h4 {
			padding: 10px;
			font-weight: normal;
			font-size: 110%;
		}
		
		.listing-show .description > article {
			padding: 0 10px;
		}
	
		.apt-thumbs .selected {
			border: solid 1px #fff;
			-webkit-box-shadow: 0 0 0 1px #fff;
			box-shadow: 0 0 0 1px #fff;
		}
	
		.apt-thumbs img{
			display: block;
		}
		
		.listing-show .no-pics {
			position: relative;
		}	
		
		#no-image-found {
			position: absolute;
			color: #fff;
			text-shadow: 1px 1px 6px black;
			font-size: 40px;
			top: 200px;
			left: 100px;
		}
	
/* --AD SHOW END--*/
	
/* --NEW AD--	*/
		.new-listing {
			padding-top: 65px;
		}
	
		.new-listing-form, .sign-in-form {
			position: relative;
			display: block;
			width: 800px;
			margin: 50px auto;
			padding: 20px;
			border-radius: 5px;
		}
	
		.new-listing-form label {
			display: block;
			margin-top: 2px;
			margin-bottom: 4px;
		}
		
		.new-listing-form input[type="text"],
		.new-listing-form input[type="number"],
		.new-listing-form input[type="date"],
		.new-listing-form textarea,
		.sign-in-form input[type="email"],
		.sign-in-form input[type="password"] {
			background: #EFE152;
			border-radius: 3px;
			color: #000;
		}
				
		.new-listing-form input[type="text"] {
			padding: 3px;
			font-size: 90%;	
		}
		
		.form-basics-container input[type="text"] {
			width: 300px;
		}
		
		.form-basics-container {
			padding-bottom: 10px;
			border-bottom: 1px solid #EFE152;
			margin-bottom: 10px;
		}
		
		.form-basics-container .middle-section {
			margin-left: 140px;
		}
		
		#add-another-pic {
			font-size: 13px;
			display: block;
			
		}
		
		#subcat-options input[type="number"],
		#subcat-options input[type="date"],
		#subcat-options input[type="text"] {
			width: 150px;
			height: 20px;
			padding: 2px;
		}
		
		#subcat-options .input {
			float: left;
			margin-bottom: 5px;
			margin-right: 25px;
		}
	
		
		.new-listing-form .submit {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
		
		/* This may not be the best solution, as it leverages a width that is too small
		to actually contain the dropdown.*/
		#subcat-dropdown {
			max-width: 90px;
		}
	
/* --NEW AD END--	*/
		
/*	SIGN IN	*/
		.sign-in {
			padding-top: 65px;
		}

		.sign-in-form {
			width: 500px;
			min-height: 280px;
		}
		
		.sign-up-form {
			padding-bottom: 35px;
		}
		
		.sign-in-form .submit {
			position: absolute;
			bottom: 20px;
			left: 20px;
		}
		
		.sign-in h1 {
			font-size: 40px;
			line-height: 1.0;
			text-align: center;
			margin-bottom: 25px;
		}
		
		.sign-in a {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
			
		.sign-in input[type="password"],
		.sign-in input[type="text"],
		.sign-in input[type="email"] {
			background: #EFE152;
			border-radius: 3px;
			padding: 5px;
			margin-bottom: 10px;
		}
		
		#sign-up-username {
			color: #000;
		}
			

/*	--SIGN IN END--*/

/* --ACCOUNT POSTS--*/
			
			/* Note: table styling largely covered in index table-styling section*/
		.account-posts, .account-settings,
		.account-notifications, .account-alerts, .account-responses {
			padding-top: 65px;
		}
		
		.user-posts-table td {
			text-align: center;
		 }
		
		.user-posts-table .title {
			padding: 0;
		}
		
		.user-posts-table > thead {
			background: rgba(255, 255, 255, 0.7);
		}
		
		.user-posts-table > tbody > tr {
			background: rgba(25, 220, 37, 0.5);
		}
		
		.user-posts-table > tbody > tr.expired {
			background: rgba(194, 61, 53, 0.5);
		}
		
		.user-posts-table a {
			color: #000;
			display: block;
			padding: 4px 0px;
			width: 100%;
			height: 100%;
		}
		
		.user-posts-table a:hover {
			background: rgba(0, 0, 0, 0.3);
		}
		
		.account-nav {
			display: block;
			width: 706px;
			margin: auto;
			margin-top: 30px;
			margin-bottom: 60px;
			border-radius: 100px;
			background: transparent;
		}
		
		.account-nav-links {
			background: transparent;
			border-radius: 100px;
		}
		
		.account-nav-links > li > a {
			background: #000;
			float: left;
			width: 175px;
			padding: 12px 0;
			font-size: 22px;
			font-weight: 100;
			text-align: center;
			border-left: 2px solid #EFE152;
		}
		
		.account-nav-links > li > a.first {
			border-left: 0;
			border-radius: 100px 0 0 100px;
		}

		.account-nav-links > li > a.last {
			border-radius: 0 100px 100px 0;
		}
			
		.account-nav-links > li > a:hover {
			color: #000;
			background: #fff;
		}
		
		.account-nav-links > li > a.last:hover {
			color: #000;
			background: #fff;
			border-radius: 0 100px 100px 0;
		}
		
		.account-nav-links > li > a.first:hover {
			color: #000;
			background: #fff;
			border-radius: 100px 0 0 100px;
		}
			
/* --ACCOUNT POSTS END--*/
		
/* --ACCOUNT SETTINGS, etc.--*/
		.account-settings-container, .notifications-container,
		.alerts-container, .responses-container {
			width: 1000px;
			margin: 40px auto;
			border: 3px solid #000;
			border-radius: 5px;
			padding: 15px;
/*			position: relative;
			left: 3px;*/
		}
		
		.delete-user {
			margin-left: 40px;
		}
		
		.account-item-list > li {
			border-top: 1px solid #000;
			padding: 5px 0;
		}
		
		.item-list-heading {
			margin: 0;
			padding-bottom: 15px;
			border-bottom: 2px solid #000;
			font-size: 22px;
			font-weight: normal;
		}
		
/* --ACCOUNT SETTINGS END--*/
